<!-- наследуемся от шаблона default.html, который создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Загружаем кастомные фильтры из файла custom_filters.py -->
{% load custom_filters %}
<!-- Подключаем файл с новым тегом -->
{% load custom_tags %}

<!-- Название будет Products-->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все товары</h1>
    <!-- Используем переданную из представления переменную time_now
    и применяем к ней фильтр date. По назначению этот фильтр очень похож
    на метод strftime у объекта datetime в Python — вывод времени в указанном формате -->
    <!-- Вот так выглядело использование переменной и фильтра -->
    <h3>{{ time_now|date:'M d Y l' }}</h3>
    <!-- А вот так используется наш тег -->
    <h3>{% current_time '%b %d %Y %A' %}</h3>
    <h3>{% current_time '%H:%M:%S' %}</h3>
    <h3>{{ next_sale|default_if_none:'Чуть позже сообщим о распродаже' }}</h3>
    <hr>

    <!--Выводим товары, только если они есть с помощью тега if-->
    {% if products %}
        <table>
            <tr>
                <td>Название</td>
                <td>Описание</td>
                <td>Категория</td>
                <td>Цена</td>
                <td>Количество</td>
            </tr>

            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <!--<td>{{ product.description|truncatechars:15 }}</td>-->
                    <td>{{ product.description|truncatewords:2 }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.price|currency:'usd' }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>
            {% endfor %}

        </table>

    {% else %}
        <!--Иначе, товаров нет-->
        <h2>Товаров нет!</h2>
    {% endif %}

{% endblock content %}
